# 🔥 Dependencias
node_modules/

# 🔥 Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# 🔥 Archivos de build
build/
*.apk
*.aab

# 🔥 Android / iOS (solo si usas prebuild)
android/
ios/

# 🔥 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🔥 Metro
.metro-health-check*

# 🔥 Variables de entorno
.env
.env.*
.env*.local

# 🔥 Archivos sensibles (MUY IMPORTANTE)
firebase.json
google-services.json
GoogleService-Info.plist

# 🔥 Claves y certificados
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.pem

# 🔥 Kotlin / Gradle
.kotlin/

# 🔥 MacOS
.DS_Store

# 🔥 TypeScript
*.tsbuildinfo

# 🔥 Otros
*.orig.*